# Python
.venv/
__pycache__/
testing.py
print_memory.py

# Node / React
node_modules/
dist/

# Temporary video processing
compilation/
input/
output/
storage/jobs/

# Temporary/download files
*.part

# Environment variables / secrets
.env
.env.*

# Images you don't want tracked
*.jpg

# Local files
TODO.txt
downloading_videos.txt

